<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Test Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--todo webjars-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!--todo webjars
    https://fontawesome.com/kits/6aff69578a/use
    https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free-->
    <script src="https://kit.fontawesome.com/6aff69578a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/shards.min.css">
</head>
<body>

<div class="container my-2">
    <div class="row">
        <div class="col-md-3">

            <a th:if="${referer} != null" th:href="${referer}">
                <i class="fas fa-long-arrow-alt-left"></i> <span th:text="${referer}"></span>
            </a>

            <h5 class="my-2" style="background-color: #CDCDFF" th:if="${message} != null">
                <span th:text="${message}"></span>
            </h5>

            <div>
                <h2 class="my-2">State</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Session ID (cookies)</td>
                        <td th:text="${sessionId}"></td>
                    </tr>
                    <tr>
                        <td>User ID (stored in session)</td>
                        <td th:text="${userId}"></td>
                    </tr>
                    <tr>
                        <td>Miro base URL</td>
                        <td><a th:href="${miroBaseUrl}" th:text="${miroBaseUrl}"></a></td>
                    </tr>
                    <tr>
                        <td>Client ID (application id)</td>
                        <td th:text="${clientId}"></td>
                    </tr>
                    <tr>
                        <td>Redirect URI for OAuth2.0</td>
                        <!--todo copy to buffer button-->
                        <td><a th:href="${redirectUri}" th:text="${redirectUri}"></a></td>
                    </tr>
                    <tr>
                        <td>App URL</td>
                        <!--todo copy to buffer button-->
                        <td><a th:href="${webPlugin}" th:text="${webPlugin}"></a></td>
                    </tr>
                    <tr>
                        <td>Authorize link</td>
                        <td><a th:href="${authorizeUrl}" th:text="${authorizeUrl}"></a></td>
                    </tr>
                    <tr>
                        <td>Installation management URL</td>
                        <td th:if="${installationManagementUrl} != null">
                            <a th:href="${installationManagementUrl}" th:text="${installationManagementUrl}"></a>
                        </td>
                        <td th:if="${installationManagementUrl} == null">
                            teamId is not set in AppProperties
                        </td>
                    </tr>
                    </tbody>
                </table>

                <h2 class="my-2">Access tokens</h2>
                Stored in session
                <table class="table table-striped table-responsive-md">
                    <tbody>
                    <tr th:each="token : ${tokenRecords}">
                        <td>
                            <pre th:text="${token.accessToken}"></pre>
                        </td>
                        <td>
                            <pre th:text="${token.state}"></pre>
                        </td>
                        <td>
                            <pre th:text="${token.lastAccessedTime}"></pre>
                        </td>
                        <td>
                            <a th:href="${token.checkValidUrl}" class="btn btn-primary">
                                <!--todo ajax action-->
                                <i class="fas fa-angle-double-right"></i> Check valid
                            </a>
                        </td>
                        <td>
                            <a th:if="${token.refreshUrl} != null" th:href="${token.refreshUrl}" class="btn btn-primary">
                                <!--todo ajax action-->
                                <i class="fas fa-redo"></i> Refresh
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>

            </div>

            <p class="my-2">
                <a th:href="${authorizeUrl}" class="btn btn-primary">
                    <i class="fas fa-key ml-2"></i> Authorize
                </a>
            </p>
        </div>
    </div>
</div>

</body>
</html>